body {
    font-family: Arial, serif;
    text-align: center;
}
.header{
    color: white;
    background-color: blue;
    padding: 10px;
}
.player1{
    width: 40%;
    padding-top: 4px;
    padding-bottom: 8px;
    background-color: lime;
    color: white;
}
.player2{
    width: 40%;
    padding-top: 4px;
    padding-bottom: 8px;
    background-color: firebrick;
    color: white;
}
