body {
    font-family: Arial, serif;
    text-align: center;
}
.header{
    color: white;
    background-color: blue;
    padding: 10px;
}
.player1{
    width: 45%;
    height: 450px;
}
.player2{
    width: 45%;
    height: 450px;
}
